<div class="page-section form-group-lg margin-md padding-lg">
  <h1>Add Customer</h1>

  <div class="input-group margin-lg">
    <div class="input-group-addon">
      <i class="fa fa-user"></i>
    </div>
    <input class="form-control" id="first-name" type="text" placeholder="First Name">
  </div>

  <div class="input-group margin-lg">
    <div class="input-group-addon">
      <i class="fa fa-user"></i>
    </div>
    <input class="form-control" id="middle-Name" type="text" placeholder="Middle Name">
  </div>

  <div class="input-group margin-lg">
    <div class="input-group-addon">
      <i class="fa fa-user"></i>
    </div>
    <input class="form-control" id="last-Name" type="text" placeholder="Last Name">
  </div>

  <div class="input-group margin-lg">
    <div class="input-group-addon">
      <i class="fa fa-envelope"></i>
    </div>
    <input class="form-control" id="email" type="text" placeholder="Email">
  </div>
</div>
