<div class="cms-card cms-card-sm form-group-lg margin-md padding-lg margin-left-sm">
  <h3>Create New Order</h3>
  <form>
    <div class="form-group" [class.invalid]="partyName.touched && partyName.invalid">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-user"></i></span>
        </div>
        <select class="form-control" id="name" type="text" selectValidator [fieldName]="'Party Name'"
                [(ngModel)]="orderForm.partyName" name="name" #partyName="ngModel" (change)="openForm()">
          <option value="NULL" selected="selected">-- Select a Party -- </option>
          <option *ngFor="let party of parties" value="{{party.id}}">{{party.name}}</option>
        </select>
      </div>
      <small *ngIf="partyName.touched && partyName.invalid">
        {{partyName.errors?.errorMessage}}
      </small>
    </div>

    <div class="margin-lg text-right">
      <button class="btn btn-md bg-blue font-white">Submit</button>
      <button class="btn btn-md bg-secondary font-white margin-left-sm">Reset</button>
    </div>
  </form>
</div>
<app-add-order-item partyName="{{getPartyName(orderForm.partyName)}}"></app-add-order-item>
